section {
	padding: 30px 0px 0px 0px;
	margin-bottom: 0px;
}

.stampwrap {
	text-align: center;
	margin: 0 auto;
	z-index: 10;
}

/*
#total {
	display: inline;
}
*/

#timetable {
	position: relative;
	overflow-y: auto;
	height: 30vh;
}

table {
	font-family: 'Roboto', sans-seriff;
	font-size: 13px;
	padding: 3px;
	margin: auto;
}

thead, th {
	border: 3px solid black;
	text-align: center;
	position: relative;
}

tbody {
	z-index: 1;
}

td {
	border: 3px solid black;
	padding: 5px;
	text-align: right;
	position: relative;
}

.imgbtn {
	text-decoration: none;
	padding: 0px 6px;
	width: 10%;
	height: 10%;
}

#credits {
	position: relative;
}

/*
.notbutton {
	font-family: 'Roboto', sans-seriff;
	font-size: small;
	text-decoration: none; 
	background-color: #FF0000;
	border-style: ridge;
	border-width: 3px;
	border-color: #FF0000;
	color: #000000;
	padding: 0px 6px;
	box-shadow: 5px 5px 5px grey;
}
*/